/** GENERAL LAYOUT */
* {
    box-sizing: border-box;
}

html, body, section {
    height: 100%;
}

.section {
    padding: 0;

    display: flex;
    flex-direction: row;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

aside {
    padding: 3ex;
    min-width: 50ex;
    max-width: 50ex;
}
#map {
    width: calc(100vw - 50ex); /* viewport - aside width */
    height: 100%;
}

#form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    #small-screen-block {
        display: none;
    }
}


/** STYLE */
.overlay {
    background-color: #F6F8F6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: #F4F6F4;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 20ex;
    height: 20px;
    background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 100%);
    background-size: 20ex 7px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fafafa;
    position: relative;
    z-index: 3;
    border: 1.5px solid #a7a7a7;
    border-radius: 7px;
}
input[type="range"] + span {
    position: relative;
    top: -5px;
    padding-left: 5px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label.button {
    border-color: #1AB14F;
    color: #1AB14F;
}

.button.is-outlined {
    background-color: transparent;
    border-color: #BFBFBF;
}

.button-area {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.button-area .button {
    margin-bottom: 6px;
    margin-right: 5px;
}

#appInput div {
    margin-bottom: 5px;
}

#appInput .description {
    font-size: 121%;

    margin-top: 10px;
    margin-bottom: 5px;
}
#appInput .description:first-child {
    margin-top: 0;
}

div.notification {
    margin-bottom: 20px;
}

.point-description {
    opacity: 0.95;
    color: var(--color);
}
.point-description:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
    margin-right: 5px;
    margin-left: 7px;

    background-color: var(--color);
}

.isoline {
    position: relative;
    top: 3px;

    width: 17px;
    height: 17px;
    transform: rotate(21deg);

    opacity: 0.6;
}
.isoline path {
    fill: var(--color);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: rotate(7deg);
    }
    80% {
        opacity: 1;
        transform: rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: rotate(14deg);
    }
}
.loading-animation {
    position: relative;
    --size: 60px;
    width: var(--size);
    height: calc(var(--size) + 40px);
}
.loading-animation .isoline {
    position: absolute;
    width: var(--size);
    height: var(--size);

    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0;
}
.loading-animation .isoline:nth-child(1) {
    animation-delay: 0s;
}
.loading-animation .isoline:nth-child(2) {
    --size: 65px;
    animation-delay: 1.5s;
}
.loading-animation .isoline:nth-child(3) {
    --size: 70px;
    animation-delay: 4.5s;
}
.loading-animation .isoline:nth-child(4) {
    --size: 75px;
    animation-delay: 6s;
}

.cite-question {
    font-size: 90%;
    opacity: 0.7;
}


/** TRANSITIONS */
.fade-enter-to {
    opacity: 1;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 1s;
}

.overlay.fade-leave-active,
.overlay.fade-enter-active {
    transition: opacity 0.3s;
}


/** ICONS */
.svg-icon {
    margin: 3px;
    display: block;
}

@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.meteocons-icon:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
}
.button .meteocons-icon:before {
    position: relative;
    left: -3px;
    top: 2px;
}