<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Public Transport Reach</title>
        <link rel="icon" type="image/png" href="favicon.png">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
        <script src="https://unpkg.com/vue-async-computed@3.7.0"></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        <script src='https://npmcdn.com/@turf/turf@5.1.6/turf.min.js'></script>
        
        <script type="module" src="app.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="index.css"/>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    </head>


    <body>
    <section class="section">
        <aside>
            <div id="appInput">
                <div class="overlay" id="small-screen-block">
                    <div class="notification">
                        <svg viewBox="0 0 1000 1000" width="30" class="svg-icon">
                            <path d="M0 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm-857.156 285.719l0 142.844l142.844 0l0 -142.844l-142.844 0zm857.156 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm-857.156 285.719l0 142.844l142.844 0l0 -142.844l-142.844 0zm857.156 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm-857.156 285.719l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0zm285.719 0l0 142.844l142.844 0l0 -142.844l-142.844 0z"/>
                        </svg>
                        This app is best used on a big screen.<br/>
                        Please open it on your Desktop or Laptop.
                    </div>
                </div>
                <transition name="fade">
                    <div v-if="isLoading" class="overlay">
                        <div class="loading-animation"  :style="'--color:' + colors.stations">
                            <svg class="isoline" viewBox="0 0 147 134">
                                <path d="M23.98 106.16C37.52 113.58 54.1 112.65 66.72 103.74C69.68 101.65 62.59 106.65 66.72 103.74C73.8 98.74 83.69 102.49 85.67 110.93C86.51 114.49 84.84 107.4 85.67 110.93C88.15 121.48 97.27 129.13 108.09 129.75C111.73 129.96 104.44 129.54 108.09 129.75C117.33 130.28 124.59 121.96 122.83 112.87C122.07 108.96 123.52 116.46 122.83 112.87C120.45 100.63 124.31 88.01 133.12 79.19C136.76 75.55 130.3 82.01 133.12 79.19C143.94 68.37 146.44 51.78 139.31 38.25C137.75 35.3 141.71 42.8 139.31 38.25C134.13 28.45 127.88 19.25 120.66 10.83C117.83 7.53 122.83 13.37 120.66 10.83C112.59 1.42 98.76 -0.49 88.44 6.39C84.55 8.98 92.05 3.98 88.44 6.39C77 14.01 61.85 12.96 51.58 3.83C49.44 1.93 55.07 6.93 51.58 3.83C45.58 -1.5 36.46 -1.24 30.79 4.44C26.98 8.25 32.81 2.42 30.79 4.44C19.75 15.47 18.2 32.82 27.1 45.64C29.24 48.71 24.03 41.21 27.1 45.64C32.61 53.56 29.44 64.54 20.56 68.32C14.21 71.02 13.07 71.51 6.89 74.14C-1.14 77.56 -2.45 88.39 4.53 93.62C6.39 95.02 1.39 91.27 4.53 93.62C10.71 98.26 17.21 102.45 23.98 106.16C28.41 108.59 21.95 105.04 23.98 106.16Z"></path>
                            </svg>
                            <svg class="isoline" viewBox="0 0 143 119">
                                <path d="M50.48 23.6C55.45 33.27 68.57 34.96 75.82 26.86C85.31 16.26 89.3 11.81 96.43 3.85C104.11 -4.73 118.21 2.15 116.19 13.48C115.1 19.52 115.53 17.14 113.59 27.96C112.27 35.33 118.99 41.6 126.25 39.79C129.82 38.89 123.15 40.56 126.25 39.79C134.19 37.8 141.3 45.16 139.06 53.03C137.98 56.78 140.07 49.49 139.06 53.03C135.88 64.13 125.74 71.78 114.2 71.78C109.35 71.78 118.1 71.78 114.2 71.78C99.66 71.78 86.7 80.94 81.85 94.64C79.93 100.07 83.47 90.07 81.85 94.64C76.48 109.81 60.1 118.06 44.71 113.34C34.59 110.23 32.05 109.45 22 106.37C6.32 101.56 -2.94 85.4 0.85 69.44C2.42 62.82 1.74 65.68 3.64 57.64C6.94 43.73 14.16 31.05 24.45 21.11C27.75 17.91 23.08 22.42 26.68 18.95C33.8 12.06 45.56 14 50.08 22.82C52.22 26.99 48.58 19.9 50.48 23.6Z"></path>
                            </svg>
                            <svg class="isoline" viewBox="0 0 95 100">
                                <path d="M19.82 41.8C11.31 51.26 5.99 57.17 3.86 59.53C-6.15 70.64 4.87 87.86 19.15 83.44C23.62 82.05 8.93 86.6 19.15 83.44C33.47 79 48.97 80.39 62.27 87.32C68.56 90.6 71.07 91.91 78.46 95.76C84.77 99.04 92.13 93.73 90.99 86.71C89.69 78.68 88.96 74.18 87.77 66.8C85.6 53.39 81.47 40.36 75.51 28.15C70.79 18.47 69.94 16.73 66.31 9.27C60.36 -2.93 43.06 -3.13 36.83 8.92C34.56 13.3 28.89 24.27 19.82 41.8Z"></path>
                            </svg>
                            <svg class="isoline" viewBox="0 0 117 109">
                                <path d="M65.65 96.87C65.65 105.37 54.63 108.7 49.91 101.63C45.98 95.73 46.02 95.8 41.12 88.44C34.41 78.38 22.72 72.83 10.69 73.99C8.15 74.24 14.6 73.61 10.69 73.99C4.29 74.61 -0.95 68.97 0.15 62.63C0.54 60.36 -0.29 65.14 0.15 62.63C1.45 55.08 1.89 47.41 1.48 39.77C0.78 26.92 0.78 26.9 0.44 20.81C-0.38 5.68 18.25 -2.09 28.43 9.13C31.91 12.98 22.34 2.41 28.43 9.13C38.29 20.01 54.83 21.55 66.53 12.67C74.48 6.64 73.97 7.03 81 1.69C87.67 -3.37 96.69 3.81 93.25 11.45C92.49 13.15 90.58 17.39 87.52 24.19C97.37 32.36 103.53 37.47 105.99 39.51C118.02 49.49 112.85 68.98 97.46 71.7C91.1 72.82 95.22 72.1 84.9 73.92C73.77 75.88 65.65 85.56 65.65 96.87C65.65 102.54 65.65 92.96 65.65 96.87Z"></path>
                            </svg>
                        </div>
                        <h2 class="title is-5">Loading...</h2>
                        <span>This might take some time, please hold on.</span>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="isError" class="overlay">
                        <div class="notification">
                            <svg viewBox="0 0 851 1000" width="20" class="svg-icon">
                                <path d="M278.381 63.25c-7.752 -.023 -15.635 1.653 -23.094 5.219l-128 61.594 -80.031 37.781c-2.257 1.247 -4.427 2.27 -6.719 3.281 -.405 5.357 -.688 10.788 -.688 16.281l-.031 0l0 1.032l.031 0c.202 68.2 39.776 161.827 121.625 162.063l0 .031l.594 0l.031 -.031c34.202 -.135 64.964 -18.899 86.969 -49.125 25.723 -35.297 37.065 -82.413 34.031 -128.125l18.156 -8.719c26.519 -12.679 37.71 -44.482 25.031 -71 -9.113 -19.061 -28.096 -30.223 -47.906 -30.281zm211.594 0c-19.81 .058 -38.793 11.221 -47.906 30.281 -12.679 26.518 -1.457 58.321 25.063 71l18.125 8.719c-3.034 45.712 8.308 92.828 34.031 128.125 22.005 30.226 52.766 48.99 86.969 49.125l.031 .031l.625 0l0 -.031c81.849 -.235 121.392 -93.862 121.594 -162.063l.031 0l0 -1.032l-.031 0c0 -5.493 -.251 -10.924 -.656 -16.281 -2.291 -1.011 -4.493 -2.034 -6.75 -3.281l-80 -37.781 -128.031 -61.594c-7.459 -3.566 -15.342 -5.242 -23.094 -5.219zm278.844 302.281c-7.179 -.074 -14.563 4.222 -20.906 15.094 -42.394 72.704 -96.157 259.497 27.188 259.031 123.344 -.466 73.125 -181.439 15.563 -260.344 -5.845 -8.012 -13.707 -13.697 -21.844 -13.781zm-512.094 137.813c-56.467 0 -112.266 8.821 -165.313 26.031 -10.344 3.356 -20.559 7.042 -30.625 11 -11.02 4.335 -21.121 8.624 -30.25 12.875l.094 .188 -.5 .219 -.031 .031c-26.372 12.612 -37.518 44.191 -24.906 70.563 12.537 26.215 43.849 37.413 70.125 25.156l.063 .188c8.734 -4.066 16.764 -7.548 24.031 -10.406 8.223 -3.233 16.499 -6.21 24.813 -8.906 42.901 -13.918 87.622 -21.063 132.5 -21.063 51.285 .001 101.291 9.291 148.063 26.5 19.037 7.004 37.379 15.237 54.906 24.656 90.914 48.858 163.375 129.954 200.219 231.219 9.976 27.519 40.388 41.757 67.906 31.781 27.519 -9.976 41.726 -40.388 31.75 -67.906 -46.007 -126.456 -136.345 -227.621 -249.625 -288.5 -22.176 -11.919 -45.113 -22.287 -68.625 -30.938 -57.773 -21.255 -120.085 -32.685 -184.594 -32.688z"/>
                            </svg>
                            An error occured.<br/>
                            Please try again later.
                        </div>
                    </div>
                </transition>

                <transition name="fade">
                    <div v-if="!homeCoord">
                        <h1 class="title is-4">{{ words.hey | pick }}!</h1>
                        Select a point from which to start by clicking on the map.
                    </div>
                </transition>

                <transition name="fade">
                    <div v-if="noResults" class="notification is-warning">
                        <svg viewBox="0 0 817 1000" width="20" class="svg-icon">
                            <path d="M170.507 50c-60.551 0 -109.688 64.791 -109.688 144.375 0 79.505 49.137 144.313 109.688 144.313s109.656 -64.808 109.656 -144.313c0 -79.584 -49.106 -144.375 -109.656 -144.375zm476.438 0c-60.552 0 -109.656 64.791 -109.656 144.375 0 79.505 49.105 144.313 109.656 144.313 60.55 0 109.688 -64.808 109.688 -144.313 0 -79.584 -49.138 -144.375 -109.688 -144.375zm-593.906 446.813c-18.3 .414 -35.968 10.065 -45.781 27.063 -14.954 25.9 -6.057 59.077 19.844 74.031l709.063 378.75c25.9 14.954 59.077 6.057 74.031 -19.844 14.953 -25.902 6.057 -59.077 -19.844 -74.031l-709.063 -378.719c-8.903 -5.14 -18.664 -7.467 -28.25 -7.25z"/>
                        </svg>
                        No results found.
                        Maybe try other settings or a different start point.
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="homeCoord && !resultRawStations" id="form">
                        <div class="description">
                            How far can I travel starting from
                        </div>
                        <div class="point-description" :style="'--color:' + colors.home">
                            {{ homeCoordStr }}
                        </div>
                        <div class="description">
                            in a span of
                        </div>
                        <div>
                            <input type="range" min="5" max="90" step="5" v-model="transitTime"/>
                            <span>
                                {{ transitTime }}min for driving and
                            </span>
                        </div>
                        <div>
                            <input type="range" min="5" max="60" step="5" v-model="walkingTime"/>
                            <span>
                                {{ walkingTime }}min walking afterwards
                            </span>
                        </div>
                        <div class="description">
                            when starting at
                        </div>
                        <div class="button-area">
                            <span v-for="time in choices.times">
                                <input type="radio" name="time" v-model="startTime"
                                    :value="time.value" :id="'time-' + time.text" />
                                <label class="button is-outlined" :for="'time-' + time.text">
                                    <span class="meteocons-icon" :data-icon="time.icon"/>
                                    {{ time.text }}
                                </label>
                            </span>
                        </div>
                        <div class="description">
                            on a
                        </div>
                        <div class="button-area">
                            <span v-for="(day, index) in choices.days">
                                <input type="radio" name="day" v-model="startDay"
                                    :value="index" :id="'day-' + day" />
                                <label class="button is-outlined" :for="'day-' + day">
                                    {{ day }}
                                </label>
                            </span>
                        </div>
                        <div class="description">
                            using Public Transport?
                        </div>
                        <hr/>
                        <div class="button-area">
                            <button class="button is-success" @click="onSearchClick">
                                Let's find out!
                            </button>
                        </div>
                    </div>
                </transition>

                <transition name="fade">
                    <div v-if="resultRawStations">
                        <div class="cite-question">
                            How far can I travel starting from {{ homeCoordStr }} in a span of
                            {{ transitTime }}min for driving and {{ walkingTime }}min walking
                            afterwards when starting at {{ startTime }}:00 on a 
                            {{ choices.days[startDay] }} using Public Transport?
                        </div>
                        <div class="description">
                            {{ words.wow | pick }},
                            you can reach
                            <span class="point-description" :style="'--color:' + colors.stations">
                                {{ resultStationCount }} stations
                            </span>
                            and in total an area of
                            <span :style="'--color:' + colors.reachableArea">
                                <svg class="isoline" viewBox="0 0 95 100">
                                    <path d="M19.82 41.8C11.31 51.26 5.99 57.17 3.86 59.53C-6.15 70.64 4.87 87.86 19.15 83.44C23.62 82.05 8.93 86.6 19.15 83.44C33.47 79 48.97 80.39 62.27 87.32C68.56 90.6 71.07 91.91 78.46 95.76C84.77 99.04 92.13 93.73 90.99 86.71C89.69 78.68 88.96 74.18 87.77 66.8C85.6 53.39 81.47 40.36 75.51 28.15C70.79 18.47 69.94 16.73 66.31 9.27C60.36 -2.93 43.06 -3.13 36.83 8.92C34.56 13.3 28.89 24.27 19.82 41.8Z"></path>
                                </svg>
                                <span style="color: var(--color);">
                                    {{ resultAreaSize }}km²
                                </span>
                            </span>
                            !
                        </div>
                        <hr/>
                        <div class="button-area">
                            <button class="button is-success" @click="onResetClick">
                                Change Settings
                            </button>
                        </div>
                    </div>
                </transition>

            </div>
        </aside>

        <main id="map">
            <!-- filled by mapbox javascript -->
        </main>
        
    </section>
    </body>

</html>
